<nav class="nav-bar">
  <span class="nav-bar-title">GelAl</span>
  <ul class="nav-bar-list">
    <li class="nav-bar-list_item">
      <a routerLink="" class="nav-bar-list_item_link">Home</a>
    </li>
    <li class="nav-bar-list_item">
      <a routerLink="cart" class="nav-bar-list_item_link"
        >Shopping Cart ({{ count }})</a
      >
    </li>
    <li class="nav-bar-list_item">
      <a routerLink="updateProducts" class="nav-bar-list_item_link"
        >Update Products</a
      >
    </li>
  </ul>
</nav>
