<main class="app-main">
  <div class="item-list">
    <div *ngFor="let item of itemArray" class="item-card">
      <div class="item-desc">
        <label class="item-desc_name">{{ item.name }}</label>
        <div class="item-count">
          <button class="item-count_button" (click)="countDecr(item)">-</button>
          <label class="item-count_label">{{ item.count }}</label>
          <button class="item-count_button" (click)="countInc(item)">+</button>
        </div>
      </div>
      <label class="item-desc_price">{{
        item.price * item.count | currency
      }}</label>
      <button class="item-add" (click)="addToCart(item)">Add To Cart</button>
    </div>
  </div>
</main>
